@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

body {
  font-family: "Protest Riot", sans-serif;
  background-image: url("src/assets/bg-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1a1a;
  min-height: 100vh;
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pt-4 {
  padding-top: 1rem;
}

.h-screen {
  height: 100vh;
}

.-mt-16 {
  margin-top: -4rem;
}

.selection\:bg-rose-600::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(225 29 72 / var(--tw-bg-opacity));
}

.selection\:text-white::selection {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-zinc-900 {
  --tw-text-opacity: 1;
  color: rgb(24 24 27 / var(--tw-text-opacity));
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.md\:text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.font-bold {
  font-weight: 700;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fixed {
  position: fixed;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.top-10 {
  top: 2.5rem;
}

.md\:left-24 {
  left: 6rem;
}

.left-6 {
  left: 1.5rem;
}

.md\:w-40 {
  width: 10rem;
}

.w-28 {
  width: 7rem;
}

.bottom-16 {
  bottom: 4rem;
}

.-z-10 {
  z-index: -10;
}

.md\:right-24 {
  right: 6rem;
}

.right-10 {
  right: 2.5rem;
}

.w-32 {
  width: 8rem;
}

.h-\[230px\] {
  height: 230px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 0.5rem;
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.bg-rose-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(244 63 94 / var(--tw-bg-opacity));
}

.hover\:bg-rose-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(225 29 72 / var(--tw-bg-opacity));
}

.bottom-2 {
  bottom: 0.5rem;
}

.right-2 {
  right: 0.5rem;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur)
    var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
    var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
    var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.opacity-80 {
  opacity: 0.8;
}

.hover\:opacity-95:hover {
  opacity: 0.95;
}

.border {
  border-width: 1px;
}

.p-1 {
  padding: 0.25rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border-rose-300 {
  --tw-border-opacity: 1;
  border-color: rgb(253 164 175 / var(--tw-border-opacity));
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}